<% provide(:title, "New department") %>


<div class="col-sm-8">


  <%= form_for @position do |p| %>

      <%= p.label :name %>
      <%= p.text_field :name, required: true %>

      <%= p.label :description %>
      <%=p.text_field :description%>


      <br><center>
         <%= p.submit "Save changes", :class=>"button", :data => { :disable_with => "Wait..." }  %>
      </center></br>

  <% end %>

  <% if @position.errors.any? %>

      <% @position.errors.full_messages.each do |error| %>
          <%flash[:alert] = error%>
      <% end %>

  <% end %>


</div>
