<% provide(:title, "Department info") %>

<table>
  <thead>
  <th>Name</th>
  <th>Description</th>
  <th>Owner</th>
  <th>Created</th>
  </thead>

  <tbody>

  <% if @position.company_ids.equal?(@position.id) %>

  <tr>
        <td><%= @position.name %></td>
        <td><%= @position.description%> </td>
        <td><%= @position.created_at%> </td>
        <td><%= link_to "Edit", edit_position_path %></td>
        <td><%= link_to "Remove", company_path, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>

<%end%>

  </tbody>
</table>

<br><center>
  <%= button_to "Companies List", company_path, :class => "button", :method => :get  %>
</center></br>