<% provide(:title, "Employee list") %>


<table class="table table-hover">
  <thead>
  <th>Name</th>
  <th>Birth date</th>
  <th>Company</th>
  <th>Contacts</th>
  <th>Education</th>
  <th>Last work</th>
  <th>Position</th>
  <th>Status</th>
  <th>Created</th>
  </thead>

  <tbody>
  <% @users.each do |d| %>
      <% if d.company_id.equal?(@company.id) %>
          <tr>
            <td><%= d.name %></td>
            <td><%= d.birth%> </td>
            <td><%= @company.name%> </td>
            <td><%= d.contacts%> </td>
            <td><%= d.education%> </td>
            <td><%= d.lastwork%> </td>
            <td><%= Position.find(d.position_id).name%> </td>
            <td><%= status_humanizable(d.status)%></td>
            <td><%= d.created_at%> </td>
            <td><%= link_to "Edit", edit_company_user_path(d.company_id.to_c, d) %></td>
            <td><%= link_to "Remove", company_user_path(d.company_id.to_c, d), method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
      <% end %>
  <%end%>
  </tbody>

</table>

<br><center>
  <%= button_to "New Employee", new_company_user_path, :class=>"button", :method => :get  %>
</center></br>



<br>
<%= button_to "Companies", companies_path, :class=>"button", :method => :get  %>
</br>
