<% provide(:title, "Departments list") %>


<table class="table table-hover">
  <thead>
  <th>Name</th>
  <th>Description</th>
  <th>Owner</th>
  <th>Created</th>
  </thead>

  <tbody>
  <% @departments.each do |d| %>
      <% if d.company_id.equal?(@company.id) %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.description %></td>
          <td><%=@company.name%> </td>
          <td><%= d.created_at%> </td>
          <td><%= link_to "company", company_path(d.company_id.to_c) %></td>
          <td><%= link_to "Edit", edit_company_department_url(d.company_id.to_c, d) %></td>
          <td><%= link_to "Remove", company_department_path(d.company_id.to_c, d), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
  <%end%>
  </tbody>

</table>

<br>
<center>
  <%= button_to "New Department", new_company_department_path, :class=>"button", :method => :get  %>
</center>
</br>



<br>
  <%= button_to "Companies", companies_path, :class=>"button", :method => :get  %>
</br>
