<% provide(:title, "New department") %>


<div class="col-sm-8">


  <%= form_for [@company, @department] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, required: true %>

      <%= f.label :description %>
      <%=f.text_field :description%>


      <%= f.label :company_id %>
      <%= f.select( :company_id, Company.all.map {|c| [c.name, c.id]}, :selected=>params[:company_id]) %>

      <br><center>
         <%= f.submit "Save changes", :class=>"button", :data => { :disable_with => "Wait..." }  %>
      </center></br>

  <% end %>

  <% if @department.errors.any? %>

      <% @department.errors.full_messages.each do |error| %>
          <%flash[:alert] = error%>
      <% end %>

  <% end %>


</div>
