<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">

    <%= form_for @company do |f| %>

        <%= f.label :name %>
        <%= f.text_field :company_name %>

        <%= f.label :location %>
        <%=f.text_field :company_location%>

        <%= f.label :contacts %>
        <%=f.text_field :company_contacts%>

        <%= f.label :type %>
        <%=f.check_box :company_type%>
      <br>
        <%= f.submit "Save changes", :class=>"button" %>
      </br>
    <% end %>

</div>
