<h1>Companies#index</h1>
<table>
  <thead>
  <th>Name</th>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.company_location%> </td>
        <td><%= company.company_contacts %></td>
        <td><%= company.company_type%> </td>
        <td><%= company.created_at%> </td>


      </tr>
  <% end %>
  </tbody>
</table>
<p>Find me in app/views/companies/index.html.erb</p>
