<% provide(:title, "New company") %>


<div class="col-sm-8">


  <%= form_for @company do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, required: true %>

      <%= f.label :location %>
      <%=f.text_field :location, required: true%>

      <%= f.label :contacts %>
      <%=f.text_field :contacts, required: true%>

      <%= f.label :type %>
      <%=f.text_field :ownership%>

      <%= f.label :position_ids %>
      <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name)%>


    <br><center>
      <%= f.submit "Save changes", :class=>"button", :data => { :disable_with => "Wait..." }  %>
    </center></br>

  <%end%>

  <% if @company.errors.any? %>

    <% @company.errors.full_messages.each do |error| %>
      <%flash[:alert] = error%>
    <% end %>

  <% end %>


</div>
