<h1>Companies#show</h1>
<p><%= @company.name %></p>
<p><%= @company.location %></p>
<p><%= @company.contacts %></p>
<p><%= @company.type %></p>
<p>Find me in app/views/companies/show.html.erb</p>
<%= link_to "Back", companies_path %>

