<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete, class: 'button' %>
    <% else -%>
      <%= button_to t(".sign_in"), sign_in_path, method: :get, class: 'button' %>
    <% end -%>
  </div>

  <%= yield %>

  <% if flash[:alert] -%>
    <div class="col-sl-8">
      <div class="container">
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> <%= flash[:alert] %>
        </div>
      </div>
    </div>
<% end %>

<% if flash[:notice] -%>
    <div class="col-sl-8">
      <div class="container">
        <div class="alert alert-success fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> <%= flash[:notice] %>
        </div>
      </div>
    </div>
<%end%>
</body>
</html>
